@model RoleDetails
@{
    ViewData["Title"] = "RoleEdit";
}


<style>
    .form-group {
        margin-bottom: 1.75em;
    }
</style>
<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-place="true" data-kt-place-mode="prepend" data-kt-place-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center me-3 flex-wrap mb-5 mb-lg-0 lh-1">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder my-1 fs-3">Rol Düzenle</h1>
            <!--end::Title-->
            <!--begin::Separator-->
            <span class="h-20px border-gray-200 border-start mx-4"></span>
            <!--end::Separator-->
            <!--begin::Breadcrumb-->
            <ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
                <!--begin::Item-->
                <li class="breadcrumb-item text-muted">
                    <a href="/Admin/RoleList" class="text-muted text-hover-primary">Roller</a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item">
                    <span class="bullet bg-gray-200 w-5px h-2px"></span>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="breadcrumb-item text-dark">Rol Düzenle</li>
                <!--end::Item-->
            </ul>
            <!--end::Breadcrumb-->
        </div>
        <!--end::Page title-->

    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div class="container">
        <!--begin::Card-->
        <div class="card card-custom">
            <div class="card-body p-0">
                <div class="wizard wizard-1" id="kt_projects_add" data-wizard-state="step-first" data-wizard-clickable="true">
                    <!--begin::Wizard Body-->
                    <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
                        <div class="col-xl-12 col-xxl-7">
                            <!--begin::Form Wizard-->
                            <form asp-action="RoleEdit" asp-controller="Admin" method="post">
                                <!--begin::Step 1-->
                                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                    <h3 class="mb-10 font-weight-bold text-dark">Rol Düzenle:</h3>
                                    <div class="row">
                                        <input type="hidden" name="RoleId" value="@Model.Role.Id" />
                                        <input type="hidden" name="RoleName" value="@Model.Role.Name" />
                                        <h6 class="bg-info text-white p-1">Ekle @Model.Role.Name</h6>
                                        <table class="table align-middle table-row-dashed fs-6 gy-5">
                                            @if (Model.NonMembers.Count() == 0)
                                            {
                                                <tr>
                                                    <td colspan="2">Bütün kullanıcılar role ait</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var user in Model.NonMembers)
                                                {
                                                    <tr>
                                                        <td colspan="2">@user.UserName</td>
                                                        <td style="width:250px;text-align:center;">
                                                            <input class="form-check-input h-20px w-30px" type="checkbox" name="IdsToAdd" value="@user.Id" />
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                        <div class="separator mb-15 mt-5"></div>
                                        <h6 class="bg-info text-white p-1">Sil @Model.Role.Name</h6>
                                        <table class="table table-bordered table-sm">
                                            @if (Model.Members.Count() == 0)
                                            {
                                                <tr>
                                                    <td colspan="2">Role ait kullanıcı yok.</td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var user in Model.Members)
                                                {
                                                    <tr>
                                                        <td colspan="2">@user.UserName</td>
                                                        <td style="width:250px;text-align:center;">
                                                            <input class="form-check-input h-20px w-30px" type="checkbox" name="IdsToDelete" value="@user.Id" />
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                                <!--end::Step 1-->
                                <!--begin::Actions-->
                                <div class="d-flex justify-content-between border-top mt-5 pt-10">
                                    <div class="mr-2">
                                        <button type="submit" class="btn btn-success font-weight-bolder text-uppercase px-9 py-4">Güncelle</button>
                                    </div>
                                </div>
                                <!--end::Actions-->
                            </form>
                            <!--end::Form Wizard-->
                        </div>
                    </div>
                    <!--end::Wizard Body-->
                </div>
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->
@section Scripts
{
    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
        };

        var msg;
        if ('@TempData["message"]' != undefined && '@TempData["message"]' != "") {
            msg = '@Html.Raw((string)TempData["message"])';
            if (msg != null) {
                msgArr = msg.split('|');
                if (msgArr[1] == "success") {
                    toastr.success(msgArr[0]);
                } else if (msgArr[1] == "error") {
                    toastr.error(msgArr[0]);
                } else if (msgArr[1] == "warning") {
                    toastr.warning(msgArr[0]);
                } else if (msgArr[1] == "info") {
                    toastr.info(msgArr[0]);
                }

            }
        }
    </script>

}



